# 1-Ramp Up/1-Python/6-Modulos/*
# 1-Ramp Up/1-Python/material_extra/*
# 2-Data Analysis/2-Pandas/Ejercicios/07_Visualization/*
# 2-Data Analysis/3-Visualizacion/*
# 1-Ramp Up/1-Python/7-Programacion funcional/*

.ipynb_checkpoints
__pycache__/*

2-Data Analysis/6-SQL!!!_orig/*

3-Machine Learning/4-Deep Learning/1-Intro Deep Learning/my_logs/*
3-Machine Learning/4-Deep Learning/4-Embeddings y secuencias/logs/*

3-Machine Learning/MLFlow/Taller/mlruns*
3-Machine Learning/MLFlow/*
3-Machine Learning/4-Deep Learning/1-Intro Deep Learning/structured_data_regressor/*

3-Machine Learning/4-Deep Learning/4-Embeddings y secuencias/*

4-Data Science & Business/*